.main-menu {
    position: relative;
    z-index: 9;
    width: auto
}

.main-menu a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.main-menu ul,
.main-menu ul li,
.main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0
}

.main-menu ul li a {
    display: block;
    line-height: 20px;
    padding: 10px
}

.main-menu>ul>li>a {
    color: #000;
    padding: 15px 8px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.sticky .main-menu>ul>li>a {
    color: #333
}

.main-menu>ul>li:hover>a {
    color: #e04f67
}

header#plain .main-menu>ul>li>a {
    color: #333
}

header#plain .main-menu>ul>li:hover>a {
    color: #e04f67
}

header#colored.sticky .main-menu>ul>li>a {
    color: #fff
}

.layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-color: #000;
    z-index: 99;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s;
    -moz-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s;
    -ms-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s;
    -o-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s;
    transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0s ease .3s;
    opacity: 0;
    visibility: hidden
}

.layer-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s ease 0s, transform .3s ease 0s;
    -moz-transition: opacity .3s ease 0s, transform .3s ease 0s;
    -ms-transition: opacity .3s ease 0s, transform .3s ease 0s;
    -o-transition: opacity .3s ease 0s, transform .3s ease 0s;
    transition: opacity .3s ease 0s, transform .3s ease 0s
}

#close_in,
#header_menu,
.cmn-toggle-switch {
    display: none
}

a.dropdown-toggle.icon-search {
    display: inline-block
}

.ie9 a.show-submenu,
.ie9 a.show-submenu-mega {
    background: url(../img/fix_ie_9_menu.png)
}

