@media (min-width: 768px) and (max-width: 1200px) {
    .main-menu ul li.megamenu .menu-wrapper {
        width: 940px
    }
    .img_list img {
        left: -25%
    }
    #search {
        padding: 0 0%;
        padding-top:  0px
    }
    .main-menu > ul > li > a {

        font-size: 14px;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .main-menu>ul>li>a {
        padding: 8px 5px 5px;
    }
    .about-li{
        font-size: 14px;
        padding-bottom: 7px;
    }
}
@media (max-width: 1024px) {
    .promo_full {
        background-attachment: scroll
    }
    .btn_1, a.btn_1{
        font-size: 11px;
    }
    .main-menu > ul > li > a {

        font-size: 14px;
    }
}

@media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (-o-min-device-pixel-ratio: 21) and (max-width: 991px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 991px) {
    #logo_home h1 a,
    header#colored #logo_home h1 a {
        background-image: url(../img/logo_2x.png);
        background-size: auto 30px
    }
    header.sticky #logo_home h1 a,
    header#plain #logo_home h1 a {
        background-image: url(../img/logo_sticky_2x.png);
        background-size: auto 30px
    }
    header.sticky#colored #logo_home h1 a {
        background-image: url(../img/logo_sticky_colored_2x.png);
        background-size: auto 30px
    }
}

@media (max-width: 991px) {
    ul#top_tools,
    .sticky ul#top_tools {
        margin: 3px 45px 0 0
    }
    .sticky nav {
        margin-top: 3px
    }
    nav {
        margin-top: 15px
    }
    header#plain {
        padding-bottom: 10px
    }
    header#plain.sticky {
        padding-bottom: 0
    }
    header #logo img.logo_normal,
    header #logo img.logo_sticky {
        width: auto;
        height: 30px
    }
    #logo_home h1 a,
    header.sticky #logo_home h1 a,
    header#plain #logo_home h1 a,
    header#colored #logo_home h1 a {
        width: 180px;
        height: 30px;
        background-size: auto 30px
    }
    .main-menu ul li.megamenu .menu-wrapper {
        width: auto;
        margin-top: 20px
    }
    #single_tour_feat ul {
        margin-bottom: 10px
    }
    .review_strip_single.last {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px
    }
    a#phone,
    a#email_footer {
        font-size: 12px;
        padding-left: 25px;
        margin: 15px 0
    }
    a#phone:before,
    a#email_footer:before {
        font-size: 18px
    }
    .align-nav{
        text-align: left;
    }
    #search{
        padding: 0px 0px 0;
    }
    .btn_1{
        border: none;
        font-family: inherit;
        color: #fff;
        background: #51bce6;
        cursor: pointer;
        padding: 8px 13px;
        display: inline-block;
        outline: 0;
        font-size: 9px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .plan {
        min-height: inherit
    }
    .parallax-content-1 div h1,
    #hero_2 .intro_title h3 {
        font-size: 42px
    }
    .parallax-content-1 div h1:before,
    .parallax-content-1 div h1:after {
        width: 30px
    }
    #hero_2 .intro_title h1:before,
    #hero_2 .intro_title h1:after {
        width: 30px
    }
    #map_filter ul li a {
        min-width: 100px
    }
    #map_filter ul li a span {
        font-size: 11px
    }
    .padd-top-tour{
        margin-top: 10px !important;
    }
}

@media (min-width: 769px) and (max-width: 979px) {
    #map-container {
        height: 280px;
        position: relative;
        top: 0;
        overflow: hidden
    }
    #content-row {
        height: auto;
        padding-top: 0
    }
    .plan-tall + .plan {
        border: solid #ddd 1px
    }
    .plan-tall {
        margin-right: 0
    }
    .col-md-4.plan:first-child {
        margin-right: 0;
        margin-left: 0;
        border-right: solid #ddd 1px
    }
    .view_on_map {
        display: none
    }
    .full-height {
        height: auto
    }
    .row-height {
        height: auto
    }
    .content-left {
        height: auto;
        overflow-y: scroll
    }
    .service-padd{
        margin-bottom: 20px;
    }
    .btn_1, a.btn_1{
        font-size: 11px;
    }
}

@media (max-width: 768px) {

    .img-paralax-comment {
        height: 650px;
    }
    .parallax-content-1 div {
        padding: 0 10%;
        font-size: 14px
    }
    .parallax-content-1 div h3 {
        font-size: 36px
    }
    .step {
        padding: 20px 31px
    }
    .cards {
        margin-top: 0;
        margin-bottom: 20px
    }
    #single_tour_feat ul li i {
        font-size: 28px
    }
    #hero_video a.video {
        display: inline-block
    }
    .login_social {
        margin-bottom: 5px
    }
    .align-nav{
        text-align: left;
    }
    #search{
        padding: 0px 0px 0;
    }
    .btn_1{
        border: none;
        font-family: inherit;
        color: #fff;
        background: #51bce6;
        cursor: pointer;
        padding: 8px 13px;
        display: inline-block;
        outline: 0;
        font-size: 9px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .view_on_map {
        display: none
    }
    .full-height {
        height: auto
    }
    .row-height {
        height: auto
    }
    .content-left {
        height: auto;
        overflow-y: scroll
    }
    #newsletter_container h3 {
        font-size: 22px;
        margin: 0 0 20px
    }
    #newsletter_container input.form-control#email_newsletter_2 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px
    }
    footer ul {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .map-right #map {
        height: 450px
    }
    .service-padd{
        margin-bottom: 20px;
    }
    .btn_1, a.btn_1{
        font-size: 11px;
    }
    .step {
        border-left: 1px solid #ddd;
        padding: 20px 0 20px 31px;
        margin: 0 0 10px 3px;
    }
}

@media (max-width: 767px) {
    .padd-top-tour{
        margin-top: 10px !important;
    }
    #top_line {
        display: none
    }
    .strip_all_tour_list {
        text-align: center
    }
    .img_list {
        width: 100%;
        margin: auto
    }
    .img_list img {
        left: 0;
        width: 100%;
        height: auto;
        top: -45%
    }
    .tour_list_desc {
        padding: 0 15px;
        border-right: none;
        height: auto
    }
    .price_list {
        display: block;
        height: auto;
        margin-left: 0;
        text-align: center;
        padding: 25px 0 15px
    }
    .price_list div {
        display: block;
        text-align: center
    }
    .price_list .button {
        display: block;
        margin: 15px
    }
    .main_title {
        font-size: 14px
    }
    .main_title h2 {
        font-size: 24px
    }
    .main_title p {
        font-size: 16px
    }
    .styled-select-cat select {
        background: transparent;
        width: 107%;
        padding: 7px 5px 5px 45px;
        border: 0;
        border-radius: 0;
        height: 50px;
        margin: 0;
        font-weight: 400;
        -moz-appearance: window;
        -webkit-appearance: none;
        cursor: pointer;
        color: #888
    }
    .styled-select-cat {
        width: 100%;
        overflow: hidden;
        height: 50px;
        position: relative;
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px
    }
    .styled-select-cat:before {
        font-style: normal;
        font-weight: 400;
        font-family: "icon_set_1";
        font-size: 22px;
        content: "\53";
        position: absolute;
        left: 15px;
        top: 15px
    }
    .styled-select-cat::-ms-expand {
        display: none
    }
    .styled-select-cat select:focus {
        outline: none
    }
    .table.cart-list,
    .table.cart-list thead,
    .table.cart-list tbody,
    .table.cart-list th,
    .table.cart-list td,
    .table.cart-list tr {
        display: block;
        border: 0
    }
    .table.cart-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .table.cart-list tr {
        border: 1px solid #ccc
    }
    .table.cart-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%
    }
    .table.cart-list td:before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap
    }
    .table.cart-list td:nth-of-type(1):before {
        content: "Item";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(2):before {
        content: "Quantity";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(3):before {
        content: "Discount";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(4):before {
        content: "Total";
        font-weight: 700;
        color: #111
    }
    .table.cart-list td:nth-of-type(5):before {
        content: "Actions";
        font-weight: 700;
        color: #111
    }
    .thumb_cart {
        display: none
    }
    #single_tour_feat ul {
        display: block;
        margin-bottom: 10px
    }
    #single_tour_feat ul li {
        display: inline-block;
        width: auto;
        font-size: 11px
    }
    .margin_60 {
        padding-top: 10px; 
        padding-bottom: 10px;
    }
    .margin_30 {
        margin-top: 15px;
        margin-bottom: 15px
    }
    .parallax-window,
    #hero_2 {
        height: 240px;
        min-height: 240px
    }
    .parallax-content-1 {
        height: 240px
    }
    .parallax-content-1 > div {
        padding: 0 5%;
        font-size: 12px;
        padding-top: 20px
    }
    .parallax-content-1 div h1,
    .parallax-content-1 div h3 {
        font-size: 20px;
        padding-top: 15px
    }
    #banner {
        padding: 20px
    }
    .banner a {
        position: relative;
        top: 15px;
        right: 0;
        left: 0;
        margin-bottom: 20px
    }
    .banner h4 {
        font-size: 22px
    }
    .strip_all_tour_list .tooltip-content-flip {
        width: 70px
    }
    .parallax-content-2 {
        padding-bottom: 15px
    }
    .parallax-content-2 div h1 {
        font-size: 22px
    }
    .parallax-content-2 .rating {
        font-size: 12px;
        display: block
    }
    #price_single_main,
    #price_single_main.hotel {
        font-size: 11px;
        text-align: left;
        padding-top: 0
    }
    #price_single_main span {
        font-size: 20px
    }
    #price_single_main sup {
        font-size: 20px;
        top: 0
    }
    #hero_2 .intro_title h1 {
        font-size: 22px
    }
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
        font-size: 12px
    }
    #hero {
        height: 350px;
        font-size: 12px
    }
    .intro_title h3 {
        font-size: 26px;
        margin-bottom: 5px;
        padding-top: 30px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase
    }
    .item_cart {
        margin-top: 0
    }
    .intro_title.error h1 {
        font-size: 50px
    }
    .radio_fix {
        margin-top: 10px
    }
    .col-md-4.plan:first-child,
    .col-md-4.plan:last-child {
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .plan-tall + .plan {
        border-left: 1px;
        border: solid #ddd
    }
    .plan-tall {
        margin-right: 0
    }
    #map_filter ul li a {
        min-width: inherit
    }
    #map_filter ul li a span {
        display: none
    }
    #map_filter ul li a i {
        font-size: 24px
    }
    #map_contact {
        height: 300px
    }
    #map_contact.contact_2 {
        margin-top: 60px
    }
    .content-left {
        padding-top: 80px
    }
    .map-right #map {
        height: 375px
    }
    #top_line.visible_on_mobile {
        display: block
    }
    a#lang_link,
    a#currency_link {
        position: relative;
        text-indent: -999px;
        width: 20px;
        height: 20px;
        display: block
    }
    #lang_link:before,
    #currency_link:before {
        text-indent: 0;
        font-size: 20px
    }
    .dropdown-access .dropdown-menu:before {
        right: 5%
    }
    a#access_link,
    a#wishlist_link {
        position: relative;
        text-indent: -999px;
        width: 20px;
        height: 20px;
        display: block
    }
    #wishlist_link:before,
    #access_link:before {
        text-indent: 0;
        font-size: 20px
    }
    .search-overlay-menu form {
        width: 80%;
        left: 10%;
        height: 50px;
        margin: -25px auto 0
    }
    .search-overlay-menu input[type="search"] {
        font-size: 26px
    }
    .search-overlay-menu form button {
        font-size: 2rem;
        top: 10px
    }
    .about-back{
        padding: 40px;
        margin-top: 0px;
    }
    .view-ul-top {
        display: block;
        width: 100%;
        float: right;
        margin-top: -25px;
    }
    .service-padd{
        margin-bottom: 20px;
    }
    .btn_1, a.btn_1{
        font-size: 11px;
    }
    .step {
        border-left: 1px solid #ddd;
        padding: 20px 0 20px 31px;
        margin: 0 0 10px 3px;
    }
    .img-paralax {
        height: 720px;
    }
}

@media (max-width: 480px) {
    .padd-top-tour{
        margin-top: 10px !important;
    }
    .final-tiles-gallery .ftg-filters a {

        padding: 5px 7px !important; 
        font-size: 13px !important;

    }

    .features-slider {
        padding: 11% 50px 10%
    }
    .features-content {
        padding: 10%
    }
    .box_style_1 {
        padding: 15px
    }
    .box_style_1 h3.inner {
        margin: -15px -15px 15px
    }
    .img_list img {
        left: 0;
        width: 100%;
        height: auto;
        top: -5%
    }
    .tooltip-item::after {
        width: 180px
    }
    .tooltip-content {
        width: 180px;
        margin: 0 0 20px -90px
    }
    .styled-select-filters {
        margin-bottom: 5px
    }
    .search_bar {
        width: 100%
    }
    #hero {
        height: 250px
    }
    .intro_title {
        display: none
    }
    ul#top_tools {
        margin: 0 25px 0 0
    }
    .sticky ul#top_tools {
        margin: 0 25px 0 0
    }
    .dropdown.dropdown-cart {
        display: none
    }
    .dropdown.dropdown-search {
        font-size: 20px
    }
    #testimonials h2 {
        font-size: 28px
    }
    #score {
        float: none;
        margin-top: 15px
    }
    .intro_title.error {
        display: table-cell
    }
    .intro_title.error h1 {
        font-size: 36px
    }
    .intro_title.error a.button_intro {
        display: none
    }
    .align-nav{
        text-align: left!important;
    }
    #search{
        padding: 0px 0px 0;
    }
    .btn_1{
        border: none;
        font-family: inherit;
        color: #fff;
        background: #51bce6;
        cursor: pointer;
        padding: 8px 13px;
        display: inline-block;
        outline: 0;
        font-size: 9px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
    }
    .about-back {

        background-color: #fff;
        padding: 34px;
        margin-top: 5px;
        height: 388px;
    }
    .promo_full_wp div h3 {
        font-size: 36px
    }
    .promo_full_wp div a i {
        font-size: 60px
    }
    #map_filter ul li a i {
        font-size: 18px
    }
    #search ul.nav.nav-tabs {
        margin-left: 0;
        padding-left: 0
    }
    #search .nav-tabs > li > a {
        font-size: 11px;
        padding: 5px 8px
    }
    .about-f{
        font-size: 34px;
    }
    .tab-content{
        padding: 15px 0px 0px 28px;
        background-color:rgba(1, 5, 5, 0);
    }
    .carousel {
        margin: 0px auto !important;
    }
    .view-ul-top {
        display: block; 
        float: right;

    }
    .view-ul {
        color: white;
        border: 1px solid #bcbcbc;
        padding: 5px 18px;
        font-size: 12px;
    }
    .ul-style li a {
        display: block;
        padding: 4px 8px;
        color: black;
        text-decoration: none;
    }
    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        font-weight: normal;
        height: -22%;
        width: 85%;
        position: absolute;
        left: 8%;
        padding: 124px 185px 122px 185px;
        padding-top: 65px;
        padding-right: 182px;
        padding-bottom: 65px;
        padding-left: 164px;
        top: 28%;
        padding-left: 107px;
    }
    .service-btm{
        padding-bottom: 20px;
    }
    .white-color {
        background-color: transparent;
    }
}
@media (min-width: 880px) and (max-width: 740) {
    .cmn-toggle-switch{
        right: -232px;
    }
}


@media only screen and (min-width:992px) {
    .main-menu {
        width: auto
    }
    .main-menu a {
        white-space: nowrap
    }
    .main-menu ul li {
        display: inline-block
    }
    .main-menu ul li.submenu:hover>a:after,
    .main-menu ul li.submenu:hover>a:before {
        bottom: -20px;
        opacity: 0
    }
    .main-menu ul li .menu-wrapper,
    .main-menu ul ul {
        position: absolute;
        border-top: 2px solid #e04f67;
        z-index: 1;
        visibility: hidden;
        left: 3px;
        top: 100%;
        margin: 0;
        display: block;
        padding: 0;
        background: #fff;
        min-width: 210px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        -webkit-transition: all .2s ease;
        transition: all .2s ease
    }
    .main-menu ul li .menu-wrapper {
        padding: 10px 15px!important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    .main-menu ul li:hover .menu-wrapper,
    .main-menu ul li:hover>ul {
        padding: 0;
        visibility: visible;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    .main-menu ul .menu-wrapper ul {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-top: none;
        margin: 0;
        position: static;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    .main-menu ul .menu-wrapper ul:before {
        border: 0
    }
    .main-menu ul ul li {
        display: block;
        height: auto;
        padding: 0
    }
    .main-menu ul ul li a {
        font-size: 17px;
        color: #666;
        border-bottom: 1px solid #ededed;
        display: block
    }
    .main-menu ul ul li:last-child a {
        border-bottom: none
    }
    .main-menu ul ul li:hover>a {
        background-color: #f9f9f9;
        color: #e04f67;
        padding-left: 15px
    }
    .main-menu ul li.megamenu {
        position: static
    }
    .main-menu ul li.megamenu .menu-wrapper {
        width: 1140px;
        float: left;
        left: auto;
        right: 0
    }
    .main-menu ul li:hover.megamenu .menu-wrapper,
    .main-menu ul li:hover.megamenu .menu-wrapper ul {
        visibility: visible;
        opacity: 1
    }
    .main-menu ul .menu-wrapper h3 {
        font-size: 13px;
        text-transform: uppercase;
        border-bottom: 2px solid #ededed;
        padding-bottom: 10px;
        margin-bottom: 0
    }
    .main-menu ul ul ul {
        position: absolute;
        border-top: 0;
        z-index: 1;
        height: auto;
        left: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        background: #fff;
        min-width: 190px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
    }
    .main-menu ul ul:before {
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #e04f67;
        border-width: 7px;
        margin-left: -7px
    }
    .main-menu ul ul ul:before {
        border-width: 0;
        margin-left: 0
    }
}

@media only screen and (max-width:991px) {
    #header_menu,
    .main-menu li {
        position: relative
    }
    #header_menu {
        text-align: center;
        padding: 25px 15px 10px;
        display: block
    }
    .main-menu ul li a:hover,
    a.show-submenu-mega:focus,
    a.show-submenu-mega:hover,
    a.show-submenu:focus,
    a.show-submenu:hover {
        color: #e04f67!important;
        background-color: #f9f9f9
    }
    header{
        padding: 0px;
        background-color: transparent !important;
    }
    .tab-content{
        background-color: transparent !important;  
    }
    .main_title{
        margin-bottom: 0px;
    }
    p{
        margin: 0 0 0px;
    }
    header#plain, header.sticky{
        background-color: transparent;
    }
    .main-menu ul li {
        border-top: none;
        border-bottom: 1px solid #ededed;
        color: #fff
    }
    .main-menu ul li a {
        padding: 10px 15px!important
    }
    .main-menu h3 {
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        padding: 0 0 15px 15px;
        color: #333;
        text-transform: uppercase
    }
    .megamenu .menu-wrapper>div {
        padding: 0
    }
    .main-menu a,
    .main-menu li {
        display: block;
        color: #333!important
    }
    .main-menu a:hover {
        color: #e04f67!important
    }
    .main-menu ul>li {
        padding-bottom: 0
    }
    .main-menu ul>li i {
        float: right
    }
    .main-menu ul li.submenu ul {
        font-size: 12px;
        
        margin: 0 0 15px 25px
    }
    .main-menu ul li.submenu ul li {
        font-size: 16px;
        border: 0
    }
    .main-menu ul li.submenu ul ul {
        border-left: none;
        margin: 0 0 0 15px
    }
    .main-menu {
        overflow: auto;
        transform: translateX(-105%);
        top: 0;
        left: 0;
        bottom: 0;
        width: 55%;
        height: 100%;
        position: fixed;
        background-color: #fff;
        z-index: 999999;
        -webkit-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, .55);
        -moz-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, .55);
        box-shadow: 1px 0 5px 0 rgba(50, 50, 50, .55);
        -webkit-transition: all .5s cubic-bezier(.77, 0, .175, 1);
        -moz-transition: all .5s cubic-bezier(.77, 0, .175, 1);
        -ms-transition: all .5s cubic-bezier(.77, 0, .175, 1);
        -o-transition: all .5s cubic-bezier(.77, 0, .175, 1);
        transition: all .5s cubic-bezier(.77, 0, .175, 1)
    }
    .main-menu.show {
        transform: translateX(0)
    }
    .main-menu .show-submenu+ul,
    a.show-submenu-mega+.menu-wrapper {
        display: none;
        visibility: hidden
    }
    .main-menu a.show-submenu+ul.show_normal,
    a.show-submenu-mega+.menu-wrapper.show_mega {
        display: block;
        visibility: visible
    }
    .tripadvisor-v {
        margin-top: 5px;
    }
    .cmn-toggle-switch {
        display: block;
        overflow: visible;
        position: absolute;
        top: 0;
        right: 8px;
        margin: 0;
        padding: 0;
        width: 30px;
        height: 30px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        background-color: black;
        padding: 17px;
        border-radius: 4px;
    }
    .cmn-toggle-switch:focus {
        outline: 0
    }
    .cmn-toggle-switch span {
        display: block;
        position: absolute;
        top: 12px;
        left: 3px;
        right: 3px;
        height: 2px;
        background: #fffdfd;
        margin: 4px;
    }
    .cmn-toggle-switch span::after,
    .cmn-toggle-switch span::before {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: ""
    }
    .sticky .cmn-toggle-switch span,
    .sticky .cmn-toggle-switch span::after,
    .sticky .cmn-toggle-switch span::before,
    header#plain .cmn-toggle-switch span,
    header#plain .cmn-toggle-switch span::after,
    header#plain .cmn-toggle-switch span::before,
    header#plain.sticky .cmn-toggle-switch span::after,
    header#plain.sticky .cmn-toggle-switch span::before {
        background-color: #fff
    }
    header#colored.sticky .cmn-toggle-switch span,
    header#colored.sticky .cmn-toggle-switch span::after,
    header#colored.sticky .cmn-toggle-switch span::before {
        background-color: #fff
    }
    .cmn-toggle-switch span::before {
        top: -10px
    }
    .cmn-toggle-switch span::after {
        bottom: -10px
    }
    .cmn-toggle-switch__htx span::after,
    .cmn-toggle-switch__htx span::before {
        -webkit-transition-duration: .3s, .3s;
        transition-duration: .3s, .3s;
        -webkit-transition-delay: .3s, 0;
        transition-delay: .3s, 0
    }
    .cmn-toggle-switch__htx span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform
    }
    .cmn-toggle-switch__htx span::after {
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform
    }
    .cmn-toggle-switch__htx.active span {
        background: 0 0!important
    }
    .cmn-toggle-switch__htx.active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .cmn-toggle-switch__htx.active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .cmn-toggle-switch__htx.active span::after,
    .cmn-toggle-switch__htx.active span::before {
        -webkit-transition-delay: 0, .3s;
        transition-delay: 0, .3s
    }
}

@media only screen and (max-width:480px) {

    .main-menu {
        width: 100%
    }
    a#close_in {
        display: block;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 20px;
        height: 20px
    }
    #close_in i {
        color: #555!important;
        font-size: 16px
    }
}